/* src/index.css or src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* Light theme */
    :root {
      --primary: #E11D48;
      --primary-foreground: #FFFFFF;
      --secondary: #F0F1F3;
      --secondary-foreground: #020817;
      --accent: #6D7074;
      --accent-foreground: #020817;
      --background: #FAFAFB;
      --foreground: #020817;
      --card: #FFFFFF;
      --card-foreground: #020817;
      --popover: #FFFFFF;
      --popover-foreground: #020817;
      --muted: #F0F1F3;
      --muted-foreground: #6D7074;
      --destructive: #FF4C4C;
      --destructive-foreground: #FFFFFF;
      --border: #E0E0E0;
      --input: #E0E0E0;
      --ring: #E11D48;
      --chart-1: #FF6F61;
      --chart-2: #4CAF50;
      --chart-3: #03A9F4;
      --chart-4: #FFC107;
      --chart-5: #8E44AD;
    }
  
    /* Dark theme */
    .dark {
      --primary: #E11D48;
      --primary-foreground: #FFFFFF;
      --secondary: #1E1E2C;
      --secondary-foreground: #FAFAFB;
      --accent: #6D7074;
      --accent-foreground: #FAFAFB;
      --background: #020817;
      --foreground: #FAFAFB;
      --card: #121212;
      --card-foreground: #FAFAFB;
      --popover: #121212;
      --popover-foreground: #FAFAFB;
      --muted: #1E1E2C;
      --muted-foreground: #6D7074;
      --destructive: #FF4C4C;
      --destructive-foreground: #FFFFFF;
      --border: #3C3C3C;
      --input: #3C3C3C;
      --ring: #E11D48;
      --chart-1: #FF6F61;
      --chart-2: #4CAF50;
      --chart-3: #03A9F4;
      --chart-4: #FFC107;
      --chart-5: #8E44AD;
    }
  }
